@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4efe6;
  --foreground: #1f1a14;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "IBM Plex Sans KR", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
